@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    text-align: center;
    background: darkgrey;
}

h1 {
    font-family: 'Press Start 2P';
    color: tomato;
    font-size: 60px;
    font-weight: 600;
    
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}

#game-board {
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #333;
    padding: 10px;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
    
}

#buttons {
    margin-top: 20px;
}

button {
    color: #333;
    background-color: goldenrod;
    padding: 10px 20px;
    margin-right: 10px;
}