body {
    font-family: monospace;
    text-align: center;
    background: darkgrey;
}

h1 {
    color: tomato;
    font-size: 75px;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}

#game-board {
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #333;
    padding: 10px;
}

#buttons {
    margin-top: 20px;
}

button {
    color: #333;
    background-color: goldenrod;
    padding: 10px 20px;
    margin-right: 10px;
}